asgiref==3.8.1
certifi==2025.7.14
charset-normalizer==3.4.2
Django==5.1.2
django-cors-headers==4.6.0
django-debug-toolbar==4.4.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.0
idna==3.10
Markdown==3.7
packaging==24.2
PyJWT==2.9.0
pytz==2024.2
requests==2.32.4
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.5.0
uvicorn[standard]
gunicorn
psycopg[binary]
dj-database-url
whitenoise[brotli]
shapely==2.0.6
geopandas==1.0.1
pyproj==3.7.0
pyogrio==0.10.0
